{% extends 'base.html.twig' %}

{% block title %}TodoList{% endblock %}

{% block body %}
    <h1>TodoList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todo_list.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ todo_list.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ todo_list.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('todo_list_index') }}">back to list</a>

    <a href="{{ path('todo_list_edit', {'id': todo_list.id}) }}">edit</a>

    {{ include('todo_list/_delete_form.html.twig') }}
{% endblock %}
